# all build/artifact related folders
node_modules/
packages/common-lib/dist/
packages/common-lib/node_modules/
packages/common-lib/.turbo
apps/shell/dist/
apps/shell/node_modules/
apps/shell/.turbo
apps/mf-a/dist/
apps/mf-a/node_modules/
apps/mf-a/.turbo
apps/mf-b/dist/
apps/mf-b/node_modules/
apps/mf-b/.turbo/
.next/
dist/
out/

# ignore globally all .turbo folders and it's content
**/.turbo/
**/.turbo/*.cookie
**/.turbo/**/*.cookie
**/.turbo/turbo-build.log
**/.turbo/**/turbo-build.log